{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <article class="post h-100vh">
            <h5 class="title text-center text-uppercase "><b>Свяжитесь со мной</b></h5>
            <form role="form" action="" method="post" class="contact-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="button outline-button">Отправить</button>
            </form>
        </article>
    </main>
{% endblock %}